#header{
  h1{
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }
  [nz-button]{
    -webkit-app-region: no-drag;
  }
  .author{
    text-align: right;
  }
  .routeBar{
    border-bottom: 1px solid black;
    margin-bottom: 30px;
  }
  .bar{
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    &::after{
      content: '';
      display: block;
      width: 0px;
      height: 100%;
      border-right: 1px solid #ebebeb;
    }
    &:last-child::after{
      border-right: 0px;
    }
    &.active{
      color: red;
    }
  }
}